@font-face {
    font-family: 'iranYekan';
    src: local('iranYekan'), url(./common/fonts/iranyekan-cufonfonts/Qs_Iranyekan\ bold.ttf) format('woff');
  }

  body {
    font-family: 'iranYekan';
  }

  .listItemCustom{
    text-align: unset !important;
  }

  .css-noaoyi-MuiTypography-root{
    width: max-content;
  }

  .MuiPaper-root .MuiPaper-elevation   {
   background-color: rgb(106 110 116);
  }

  .label[data-shrink=false]+.MuiInputBase-formControl .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    border:'1px solid yellow'
  }

  .zahir:focus{
    border:'1px solid red !important'
  }

  #demo-simple-select{
    display: flex !important;
    align-items: center !important;
    height: 23px;
  }